
	body{
	font-size: 120%;
	background-color: #222;
	font-family: "Times New Roman", Serif;
	margin: 0;
	padding: 0;
	}
	
	h1, h2, h3, h4, h5, h6{
	font-family: Georgia;
	}
	
	#htname{
	font-size: 350%;
	font-family: "MonteCarlo";
	word-spacing: 2vw;
	font-style: italic;
	}
	
	#htbot{
	margin-top: -7vh;
	font-family: Georgia;
	}
	
	.navi {
	  list-style-type: none;
	  margin: 0;
	  padding: 0.25px;
	  font-size: 18px;
	  min-height: 48px;
	  background-color: #808080;
	  position: sticky;
	  position: -webkit-sticky;
	  top: 0;
	  width: 100%;
	  z-index: 100;
	  font-family: Georgia;
	}
	
	.banner {
	 width: 100%;
	 height: 40vh;
	 overflow: hidden;
	 background-color: #222;
	 background-position: center;
	 background-repeat: no-repeat;
	 background-size: cover;
	 position: relative;
	 border-color: transparent;
	}
	
	.banner img {
	width: 20vw;
	height: 35vh;
	transform: translate(45vw, -30vh);
	border-radius: 5px;
	}

	.banner:hover img{
     scale: 1;	
	 transition: scale 1s ease-in-out;
	 transform-origin: 30% 40%;
	}
	
	.banner-text{
	  text-align: center;
	  position: absolute;
	  transform: translate(15vw, 50vh);
	  transition: transform 2s, opacity 3s;
	  color: #cca01d;
	  opacity: 0;
	  margin-right: 0px;
	  margin-left: 0px;
	}

	.navi li {
	  float: right;
	}

	.navi li a, .dropbtn {
	  display: block;
	  color: black;
	  text-align: center;
	  padding: 13.9px 18px;
	  text-decoration: none;
	  border-right: 1px solid #bbb;
	}

	.navi li a:hover {
	  background-color: #555555;
	  transition: background-color 0.2s;
	}

	.dropdown li {
	  position: fixed;
	  display: in-line block;
	  z-index:10
	}

	.dropdown-content {
	  display: none;
	  position: relative;
	  background-color: #e2e2e2;
	  min-width: 160px;
	  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	  z-index: 10;
	}

	.dropdown-content a {
	  position: relative;
	  color: black;
	  padding: 0:
	  text-decoration: none;
	  display: block;
	  text-align: left;
	  font-size: 18px;
	  background-color: #f5f5f5;
	}

	.dropdown:hover .dropdown-content {
	  display: block;
	}
	
	.navi .nondrop :active, .active {
	  background-color: #333;
	  color: #cca01d;
	}
	
	.navi .dropdown-content :active {
	  background-color: #333;
	  color: #cca01d;
	}
	
	.b1 {
	 box-shadow: 12px 12px 6px -6px rgba(0,0,0,0.3) inset;
	 width: 80vw;
	 rotate: 180deg;
	 position: relative;
	 background-color: #ddd;
	}
	
	.b1t {
	 box-shadow: 12px 0px 6px -6px rgba(0,0,0,0.3) inset;
	 width: 80vw;
	 rotate: 180deg;
	 position: relative;
	 background-color: #ddd;
	}
	
	.b1 p, .b1t p {
	 padding-right: 30px;
	 padding-left: 30px;
	}
	
	.b1 a, .b1t a {
	 color: #aa800b;
	 font-style: oblique;
	}
	
	.b2 {
	 box-shadow: 12px 0px 6px -6px rgba(0,0,0,0.3) inset;
	 width: 80vw;
	 rotate: 180deg;
	 position: relative;
	 z-index: -10;
	}
	
	.b2t {
	 box-shadow: 8px 8px 4px -4px rgba(0,0,0,0.3) inset;
	 width: 80vw;
	 rotate: 180deg;
	 position: relative;
	 z-index: -10;
	 padding-bottom: 525px;
	}
	
	.tt {
	  position: relative;
	  display: inline-block;
	  color: #aa800b;
	  border-bottom: 1px dotted #aa800b; /* If you want dots under the hoverable text */
	}

	.tt .disstt {
	  visibility: hidden;
	  width: 600px;
	  height: 200px;
	  overflow-y: scroll;
	  overflow-x: hidden;
	  background-color: #555;
	  color: #fff;
	  text-align: left;
	  padding: 5px 5px;
	  border-radius: 6px;

	  /* Position the tooltip text */
	  position: absolute;
	  z-index: 1;
	  top: 125%;
	  left: 50%;
	  margin-left: -300px;

	  /* Fade in tooltip */
	  opacity: 0;
	  transition: opacity 0.3s;
	}
	
	.tt .disstt::after {
	  content: "";
	  position: absolute;
	  top: 125%;
	  left: 50%;
	  margin-left: -300px;
	  border-width: 5px;
	  border-style: solid;
	  border-color: #555 transparent transparent transparent;
	  resize: both;
	}

	.tt:hover .disstt {
	  visibility: visible;
	  opacity: 1;
	}
	
	.mag {
	opacity: 0;
	transition: opacity 0.2s linear 0.5s;
	color: #8c8c8c;}
	
	.mag:hover {
	opacity: 1;}
	
	.ti {
	position: relative;
	}

	.tit {
	visibility: hidden;
	width: 340px;
	height: 180px;
	border-radius: 6px;
	position: absolute;
	z-index: 1;
	top: 120%;
	left: 75%;
	border-width: 1.5px;
	border-style: solid;
	border-color: #555;}
	
	.ti:hover .tit {
	visibility: visible;}
	
	.card {
	  transition: 0.3s;
	  width: 20%;
	  height: 55vh;
	  border-radius: 5px;
	  box-shadow: 3px 3px 10px 0 #cca01d;
	  display: inline-block;
	  margin: 0.75vw;
	  filter: brightness(80%);
	  background-color: #d5d5d5;
	  cursor: pointer;
	  border: 1px solid #111;
	}

	.card:hover {
	  filter: brightness(110%);
	}
	
	.CI {
	width: 100%;
	height: 36vh;
	border-radius: 5px 5px 0 0;
	clip-path: polygon(0% 0%, 100% 0%, 100% 88%, 0% 100%);}
	
	.CIt {
	width: 100%;
	height: 36vh;
	border-radius: 5px 5px 0 0;
	clip-path: polygon(0% 0%, 100% 0%, 100% 88%, 0% 100%);}

	.container {
	  text-align: left;
	  display: inline-block;
	  padding: 0px 12px 4px 12px;
	}
	
	.container h4 {
	margin-top: 13px;
	}
	
	.container p {
	text-align: left;
	padding: 0px 0px 0px 0px;
	margin-top: -20px;
	}
	
	.cartbac {
	  transition: 1.5s ease-out;
	  width: 20%;
	  height: 54vh;
	  border-radius: 5px;
	  box-shadow: 0px 3px 10px 0 #333;
	  display: block;
	  position: fixed;
	  left: 40%;
	  bottom: 225px;
	  z-index: 120;
	  filter: brightness(25%);
	  background-color: #d5d5d5;
	  border: 1px solid #111;
	}
	
	.cartlo {
	  transition: 1.5s ease-out;
	  width: 20%;
	  height: 54vh;
	  border-radius: 5px;
	  box-shadow: 0px 3px 10px 0 #333;
	  display: block;
	  left: 27.5%;
	  bottom: 125px;
	  position: fixed;
	  z-index: 160;
	  filter: brightness(60%);
	  background-color: #d5d5d5;
	  border: 1px solid #111;
	}
	
	.cartro {
	  transition: 1.5s ease-out;
	  width: 20%;
	  height: 54vh;
	  border-radius: 5px;
	  box-shadow: 0px 3px 10px 0 #333;
	  display: block;
	  position: fixed;
	  left: 52.5%;
	  bottom: 175px;
	  z-index: 140;
	  filter: brightness(40%);
	  background-color: #d5d5d5;
	  border: 1px solid #111;
	}
	
	.cartlt {
	  transition: 1.5s ease-out;
	  width: 20%;
	  height: 54vh;
	  border-radius: 5px;
	  box-shadow: 0px 3px 10px 0 #333;
	  display: block;
	  left: 27.5%;
	  bottom: 175px;
	  position: fixed;
	  z-index: 140;
	  filter: brightness(40%);
	  background-color: #d5d5d5;
	  border: 1px solid #111;
	}
	
	.cartrt {
	  transition: 1.5s ease-out;
	  width: 20%;
	  height: 54vh;
	  border-radius: 5px;
	  box-shadow: 0px 3px 10px 0 #333;
	  display: block;
	  position: fixed;
	  left: 52.5%;
	  bottom: 125px;
	  z-index: 160;
	  filter: brightness(60%);
	  background-color: #d5d5d5;
	  border: 1px solid #111;
	}
	
	.cartinf {
	  transition: 1.5s ease-out;
	  width: 20%;
	  height: 54vh;
	  border-radius: 5px;
	  box-shadow: 0px 3px 10px 0 #333;
	  display: block;
	  position: fixed;
	  left: 40%;
	  bottom: 75px;
	  z-index: 190;
	  filter: brightness(110%);
	  background-color: #d5d5d5;
	  cursor: pointer;
	  border: 1px solid #111;
	}
	
	.carthido {
	  transition: 1.5s ease-out;
	  width: 20%;
	  height: 54vh;
	  border-radius: 5px;
	  box-shadow: 0px 3px 10px 0 #333;
	  display: block;
	  visibility: hidden;
	  position: fixed;
	  left: 27.5%;
	  bottom: 125px;
	  z-index: 160;
	  filter: brightness(80%);
	  background-color: #d5d5d5;
	  border: 1px solid #111;
	}
	
	.overlay {
	  height: 0vh;
	  display: block;
	  width: 100vw;
	  position: fixed;
	  z-index: 100;
	  background-color: rgb(0,0,0);
	  background-color: rgba(0,0,0, 0.9);
	  overflow-y: auto;
	  transition: 1s;
	}

	.overlay-content {
	  position: relative;
	  top: 10%;
	  width: 100%;
	  text-align: center;
	  color: white;
	  display: none;
	}
	
	.overlay p {
	  margin-left: 25px;
	  margin-right: 35px;}

	.overlay a {
	  padding: 8px;
	  text-decoration: none;
	  font-size: 36px;
	  color: #818181;
	  display: block;
	  transition: 0.3s;
	}

	.overlay a:hover, .overlay a:focus {
	  color: #f1f1f1;
	}

	.overlay .closebtn {
	  position: absolute;
	  top: 20px;
	  right: 45px;
	  font-size: 60px;
	  color: #818181;
	  margin-bottom: 30px;
	}
	
	.pagination {
		display: block;
		position: absolute;
		left: 31%;
		bottom: 10px;
		z-index: 2;}
		

	.pagination a {
	  color: black;
	  float: left;
	  padding: 8px 16px;
	  text-decoration: none;
	  transition: background-color .3s;
	  border: 1px solid #222;
	  background-color: #808080;
	}

	.pagination a:hover {
		background-color: #555555;}
		
	.pagination a:first-child {
	  border-radius: 5px 0 0 5px;
	}

	.pagination a:last-child {
	  border-radius: 0 5px 5px 0;
	}
	
	.paginationt {
		display: block;
		position: absolute;
		left: 31%;
		bottom: 10px;
		z-index: 2;}
		

	.paginationt a {
	  color: white;
	  float: left;
	  padding: 8px 16px;
	  text-decoration: none;
	  transition: background-color .3s;
	  border: 1px solid #002042;
	  background-color: #401d49;
	}

	.paginationt a:hover {
		background-color: #200b28;}
		
	.paginationt a:first-child {
	  border-radius: 5px 0 0 5px;
	}

	.paginationt a:last-child {
	  border-radius: 0 5px 5px 0;
	}
	
	#hab {
	left: 44%;
	position: absolute;
	top: 5vh;
	}
	
	/*HP Elitebook screen size is 14 inches (1344px) diagonally. Webpage designed for that so only need to make adjustments for large monitors or mobile and tablet screens*/
	/*Special considerations for very large screens*/
	@media screen and (min-width: 2000px) {
		
		.card, .cartinf, .cartlo, .cartlt, .cartrt, .cartro, .cartbac, .carthido {
			width: 15%;}
		
		#hab {
		left: 48%;}
		
		.pagination {
		left: 38%;}
		
		.overlay-content {
		top: 20%;}
		
		.overlay-content p{
		padding-bottom: 15px;}
	}
	
	/*Special considerations for mobile phone screens (6.1 inches or 586px) and tablet screens (10.1 inches or 970px)? - maybe need separate one for tablet*/
	@media screen and (max-width: 1000px) {
		
		body {
		font-size: 70%;}
		
		h1, h2, h3, h4, h5, h6 {
		font-size: 100%;}/*or maybe can demote each header*/
		
				
		.navi {
		font-size: 12px;}
		
		.b1, .b1t, .b2, .b2t {
		width: 90vw;}
		
		.card, .cartinf, .cartlo, .cartlt, .cartrt, .cartro, .cartbac, .carthido {
			}
			
		.card {
		margin: 2.25vw;}
		
		#hab {
		left: 48%;}
		
		.pagination {
		left: 38%;}
		
		.overlay-content {
		top: 20%;}
		
		.overlay-content p{
		padding-bottom: 15px;}
	}

	.img-comp-container {
	  box-sizing: border-box;
	  position: relative;
	  height: 400px; /*should be the same height as the images*/
	  display: inline-block;
	  margin-right: 30%;
	}

	.img-comp-img {
	  position: absolute;
	  width: auto;
	  height: auto;
	  overflow: hidden;
	}

	.img-comp-img img {
	  display: block;
	  vertical-align: middle;
	}

	.img-comp-slider {
	  position: absolute;
	  z-index: 9;
	  cursor: ew-resize;
	  /*set the appearance of the slider:*/
	  width: 40px;
	  height: 40px;
	  background-color: #2196F3;
	  opacity: 0.7;
	  border-radius: 50%;
	}
